@import '../../vars.css';

.container{
    color: var(--color-text);
    margin: 80px 10% 10% 10%;

}
.title{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}
.skills{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    z-index: 1;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}
.skillImgContainer{
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;

}
.skillsIcon{
    width: 75px;
    height: 75px;
}

.skill p{
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

@media screen and (max-width:830px) {
    .content{
        flex-direction: column;
        align-items: center;
        gap:34px;
    }
    .skills{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
}
